@using Todo.Data
@using Todo.Data.Entities
@using Todo.Services
@using System.Text
@using Todo.Models.TodoItems

@model Todo.Models.TodoLists.TodoListDetailViewmodel

@inject ApplicationDbContext dbContext

@{
    ViewData["Title"] = $"List: {Model.Title}";
}

<h2>@ViewData["Title"]</h2>

<div class="col-md-8">
    <div class="list-group">

        <div class="row list-group-item">
            <div class="col-md-4">
                <a href="#create-item-modal" id="create-item-action">
                    <strong>Add New Item</strong>
                </a>
            </div>
            <div class="col-md-4">
                <label for="displayDoneItems">Show finished items</label>
                <input type="checkbox" id="displayDoneItems" checked />
            </div>
            <div class="col-md-4">
                <label for"orderBy">Order by</label>
                <select id="orderBy">
                    <option value="importance">Importance</option>
                    <option value="importance-desc" selected>Importance descending</option>
                    <option value="rank">Rank</option>
                    <option value="rank-desc">Rank descending</option>
                </select>
            </div>
        </div>

        <div id="items-list" class="items">
            @await Html.PartialAsync("_ItemPartial", Model.Items.OrderBy(x => x.Importance))
        </div>
    </div>
</div>

<div id="create-item-modal" class="modal">
    @{
        var todoList = dbContext.SingleTodoList(Model.TodoListId);
        var fields = Todo.EntityModelMappers.TodoItems.TodoItemCreateFieldsFactory.Create(todoList, User.Id());
    }
    @await Html.PartialAsync("_CreateNewItemPartial", fields)
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript" src="~/js/Pages/TodoList/DetailPage.js"></script>
}
